<label>Server name :- </label>
<!-- Passing and Using Data with Event Binding -->
<!-- <input
  type="text"
  class="form-control"
  (input) = "onUpdate($event)"> -->

<!-- Two way binding -->
<input
  type="text"
  class="form-control "
  [(ngModel)] = "serverName">

<!-- <p>{{serverName}}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowServer"
  (click)="onCreate()">App server
</button><!-- property binding  And event binding-->

<button
  class="btn btn-danger"
  (click)=" OnDestroyMethod();">Delete server status
</button>


<!-- <p>{{serverCreate}}</p>       String Interpoliation -->
<p *ngIf = "serverStatus else noServer">Server was created!! Name of server is " + {{serverName}}</p>
<p> Hello</p>
<ng-template #noServer>No Server was created!! </ng-template><!-- ng if-else -->



<p>
  Hello I want to use for host listener
</p>

<app-server></app-server>
<app-server></app-server>
