
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>I'm in the component</h2>
      <hr>
    </div>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" [routerLink]="'/servers'" routerLinkActive="active">Servers Component</button>
    <button type="button" class="btn btn-primary" [routerLink]="'/server'" routerLinkActive="active">Server Component</button>
  </div>
  <p>Hello app component </p>
  <router-outlet></router-outlet>
</div>
